
@import 'compass/css3';

#jqt > * {
  fieldset {border:0; margin: 0 0 18px 0; overflow: hidden}
  form {
    input[type=text], input[type=search], input[type=number], input[type=time],input[type=password] {
      background: #f7f7f7;
      @include box-shadow($insetshadow);
      @include border-radius($radius);
      line-height: 63px;
      height:62px;
      padding:0 0 0 10px;
      width:98%;
      -webkit-appearance:none;
    }

    input[type=radio] {
      background: #f7f7f7;
      border:0;
      width: 18px;
      height: 18px;
      margin-right:5px;
      @include box-shadow($insetshadow);
      @include border-radius(24px);
    }
    input[type=radio]:checked {
      background:#000000;
      -webkit-background-size: 10px 10px; /* shrink high resolution background */
    }
    input[type=radio]+span {position:relative; top:-4px; margin-right:10px}

    textarea {
      background:#f7f7f7;
      border:0;
      -webkit-appearance:none;
      @include box-shadow($insetshadow);
      font-size:14px;
      padding:10px 5px;
      font-family:$standardfont ;
      @include border-radius($radius);
      width:92%;

    }
    select{
      border:1px solid #cccccc;
      box-shadow:  0px 1px 0px rgba(0, 0, 0, 0.35);
      @include border-radius($radius);
      line-height: 63px;
      height:63px;
      padding:0 0 0 10px;
      width:98%;
      border:0;
      font-size:14px;
      overflow: visible;
      color:$fontcolor;
      background: #f4f4f4 url(image_path('gfx-down-arrow.png')) no-repeat 0 0;
      background-position: right;
      position:relative;
      top:-1px;

    }
    input[type=search]{
      @include box-shadow($insetshadow);
      background: #f7f7f7;
      -webkit-appearance:none;
    }
    input[type=submit]{
      @include box-shadow(0);
      padding:0;
      margin:0;
      width:100%;
    }
    .button {line-height: 54px; height: 54px}


  }
}

