$radius: 2px;
$radiusleft: 0px 2px 2px 2px;
$radiusright: 0px 2px 2px 0px;
$radiusbottom: 0px 0px 2px 2px;
$notepapercolor:#fcfadd;
$stageshadow:0px 1px 3px rgba(0, 0, 0, 0.46);
$stagebkg:#ffffff;
$contentpad:0 10px;
$insetshadow:inset 0px 2px 2px 0px rgba(0, 0, 0, .45);
$standardfont: "Helvetica Neue", Helvetica;
$standardfontsize: 16px;

// colors
$blue:#00afd5;
$yellow:#fffae8;
$red:#d91c00;
$seashell:#f1f1f1;
$silver:#cccccc;
$silverchalice:#999999;
$dovegray:#666666;
$mineshaft:#333333;
$codgray:#111111;

#jqt > * {

  h1 {
    text-shadow: none;
    margin:0;
    color:$mineshaft;
  }

  h2 {
    text-shadow: none;
  }
  ul{
    background-color:transparent;
    background-image:none;
    border:0;
    margin:0;
    text-shadow: none;

    li {
      background-color:transparent;
      background-image:none;
      text-shadow: none;
      border:0;
      padding: 0;
      text-shadow: none;

      ::-webkit-input-placeholder {text-shadow: none; box-shadow: none;}

      input[type="text"],
      input[type="password"],
      input[type="tel"],
      input[type="number"],
      input[type="search"],
      input[type="email"],
      input[type="url"],
      textarea,
      select
        {
        color: $mineshaft;
        text-shadow: none;
        background: none;
        border: 0;
        font: normal 14px "Helvetica Neue", Helvetica;
        padding: 0;
        display: inline-block;
        margin-left: 0px;
        padding-left: 5%;
        width: 95%;
        -webkit-appearance: none;
        box-shadow:none;
        border-radius:0;
      }


      a {
        text-shadow: none;
        padding: 0px;
        margin: 0px;
        -webkit-tap-highlight-color: none;
        -webkit-transform: translateZ(0);
        color:$dovegray;
        text-shadow: 0;
      }
    }
  }

  input{
    text-shadow: 0;
    border:0;
    font-size: $standardfontsize;
    color:$mineshaft;
    font-family: $standardfont;
    background: transparent;
  }



  a {text-decoration: none;}

  ul, ul.individual li {
    text-shadow: 0;
  }

  ul li a.active {
    background-image: none;
    background-color: #ffffff;
    -webkit-box-shadow: 0;
    box-shadow: none;
    color: $silverchalice;
    text-shadow: none;
    border:0;
  }

  ul li .toggle input[type="checkbox"] {
    background: white url(../img/jqt/on_off.png) 0 0 no-repeat;
    background: url(image_path('on_off.png'))
  }

  .button,  {
    position:relative;
    bottom:0px;
    right:0px;
    left:0;
    top:0;

  }

  .button.active, #jqt .back.active, #jqt .cancel.active, #jqt .add.active  {text-shadow: none}

}

#jqt .dissolve.in {
  -webkit-animation-name: dissolveIn;
  -webkit-animation-duration: .09s !important;

}

#jqt { -webkit-backface-visibility: hidden;}