
@import 'compass/css3';


/* Spinner
----------------------------------*/
.ui-spinner { display: inline-block; border:0 }
.ui-spinner-input { border: none; background: none; padding: 0; margin: 0; vertical-align: middle; }
.ui-spinner-button {
  width: 16px;
  height: 50%;
  font-size: .5em;
  padding: 0;
  margin: 0;
  z-index: 100;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  cursor: default;
  display: block;
  overflow: hidden;
  width:35px;
  background: $seashell !important;
  border:1px solid $silver !important;
}
.ui-spinner a.ui-spinner-button { border-top: none; border-bottom: none; } /* more specificity required here to overide default borders */
.ui-spinner .ui-icon { position: absolute; margin-top: -8px; top: 50%; left: 0; } /* vertical centre icon */
.ui-spinner-up { top: 0; }
.ui-spinner-down { bottom: 0; }
.ui-button-text {text-align: center}
.ui-spinner .ui-icon {left:9px}

/* ltr (default) */
.ui-spinner-ltr { direction: ltr; }
.ui-spinner-ltr .ui-spinner-input { float: left; margin-left: .4em; margin-right: 22px; }
.ui-spinner-ltr .ui-spinner-button { right: 0; }
.ui-spinner-ltr a.ui-spinner-button { border-right: none; }

/* rtl */
.ui-spinner-rtl { direction: rtl; }
.ui-spinner-rtl .ui-spinner-input { float: right; margin-left: 22px; margin-right: .4em; }
.ui-spinner-rtl .ui-spinner-button { left: 0; }
.ui-spinner-rtl a.ui-spinner-button { border-left: none; }

/* TR overrides */
div.ui-spinner { background: none; }


#calendar{
  .custom-header {
    border:0px;
    background-color:$seashell;
    height:50px;
    text-align: center;
    padding: 5px 20px 10px 20px;
    .custom-month {display: inline-block; margin-right:5px; color:$mineshaft; font-size: 16px; text-transform: capitalize;}
    .custom-year {display: inline-block; font-size: 16px; font-weight: normal; line-height: 54px; color:$mineshaft; }
    nav span:before {color:$tallpoppy}
    h3 {position: relative; top:2px;}

  }
  .fc-calendar-container {background:#ffffff ; padding:10px 8px 50px 10px}
  .fc-calendar .fc-head {color:$tallpoppy; font-weight: normal; font-size:10px;}
  .fc-calendar .fc-body {border:0px}
  .fc-calendar .fc-row  {border:0px}
  .fc-calendar .fc-row > div {height: 80%;width: calc(100%/7); padding:0;border-right: 0;}
  .fc-calendar .fc-row > div > span.fc-date   {color:$dovegray; font-weight: bold; font-size:11px;}
  .fc-calendar .fc-row > div.fc-today {
    background: $mercury;
    @include border-radius($radius);
  }
  .fc-calendar .fc-row > div.hasworkouts{
    background: #f1f1f1;
    @include border-radius($radius-circle);
  }
  .fc-calendar .fc-row > div.fc-today > span.fc-date {
  }
  .fc-calendar .fc-row div:active {
    background: $mineshaft;
    @include box-shadow($insetshadow);
    @include border-radius($radius);
    font-weight:normal;
    .fc-date, .fc-today > span.fc-date { color:$seashell;}
  }
  .fc-calendar .fc-content div {
    top: 80%;
    position: relative;
    width:40px ;
    margin: auto;
    overflow: hidden;
  }
  .fc-calendar .fc-content .entry {
      //background:$silver;
      width:6px;
      height:6px;
      display:block;
      @include border-radius (6px);
      float:left;
      margin-right:2px;
      text-align: center;
      //text-align: center;
      //width: 20px;
     // margin-left: -10px;
     // position: absolute;
      color: #DDD;
      //font-size: 70px;
      //line-height: 20px;
      //left: 50%;
     // bottom: 3px;

      &.strength {background:$zest}
      &.custom {background:$emerald}
      &.benchmark {background:$tallpoppy}
      &.mainsite {background:$pickledbluewood}
    }
  .fc-calendar .fc-row > div.fc-content:after {
      color:transparent;
  }
  .fc-calendar .close-calendar a{
    width:100%; background: $seashell; padding: 9px 0; text-align: center; margin-top:9px; font-size:12px; display:block;
  }

}   // end calendar


/* Flot overrides */

.chart {
  .flot-tick-label.tickLabel {color:$silver; font-size:9px}

}