
@import 'compass/css3';


// Colours
// ------------------------------------------------------------

$easternblue                        : #4ea3e3;  // blues
$pictonblue-lt						: #5CC9EF;  // blues

$emerald							: #57D68D;  // greens
$mountmain-meadow					: #1ABC9C;  // greens

$pickledbluewood					: #2C3E50;  // dark blues
$pickledbluewood-lt					: #34495E;  // dark blues

$zest								: #E67E22;  // oranges
$piper 								: #DB7633;  // oranges

$burntseinna 						: #EB6F63;  // reds
$tallpoppy 							: #C0392B;  // reds

$yellow                             : #fffae8;  // yellow

$silverchalice 						: #999999;  // greys
$dovegray							: #666666;  // greys
$mineshaft							: #333333;  // greys
$mineshaft-dk						: #222222;  // greys
$silver								: #cccccc;  // greys
$mercury							: #e7e7e7;  // greys
$seashell							: #f1f1f1;  // greys


// Radius & Shadow
// ------------------------------------------------------------

$radius                             : 2px;
$radiusleft							: 0px 2px 2px 2px;
$radiusright						: 0px 2px 2px 0px;
$radiusbottom						: 0px 0px 2px 2px;
$radiustop							: 2px 2px 2px 2px;
$radius-circle						: 100px;


$stageshadow						: 0px 1px 2px rgba(0, 0, 0, 0.35);
$standardboxshadow					: 0px 0px 2px rgba(0, 0, 0, 0.20);
$stagebkg							: #ffffff;
$contentpad							: 0 8px;
//$insetshadow						: inset 0px 1px 2px 0px rgba(0, 0, 0, .45);
$insetshadow						: inset 0px 0px 0px 0px rgba(0, 0, 0, .45);

$bevel                              : 0 1px 1px rgba(255,255,255,0.5), /*bottom external highlight*/
                                      0 -1px 1px rgba(0,0,0,0.05), /*top external shadow*/
                                      inset 0 -1px 1px rgba(0,0,0,0.15), /*bottom internal shadow*/
                                      inset 0 1px 1px rgba(255,255,255,0.0); /*top internal highlight*/;


$bevelinverse                       : 0 -1px 1px rgba(255,255,255,0.0), /*bottom external highlight*/
                                      0 1px 1px rgba(0,0,0,0.05), /*top external shadow*/
                                      inset 0 1px 1px rgba(0,0,0,0.15), /*bottom internal shadow*/
                                      inset 0 -1px 1px rgba(255,255,255,0.0); /*top internal highlight*/;


// Font Stuff
// ------------------------------------------------------------
$standardfont						: "Gibson-Light", Helvetica, Arial;
$standardfontbold					: "Gibson-Regular", Helvetica, Arial;
$standardfontsize					: 16px;
$fontcolor:#464646;
$gibsonoffset                       : 4px;
//$iconfont                           :"FontAwesome";
$iconfont                           :"superfit";

@mixin fl($width) { display: block; float: left; width: $width }
@mixin fr($width) { display: block; float: right; width: $width }


