//= require jqtouch
//= require jqtouch_overrides
//= require superfit_common
@import 'compass/css3';

$radius: 3px;
$radiusleft: 0px 2px 2px 2px;
$radiusright: 0px 2px 2px 0px;
$radiusbottom: 0px 0px 2px 2px;
$darkgrey:#474747;
$mediumgrey:#646464;
$lightgrey:#858585;
$notepapercolor:#ffffff; //#fcfadd;
$stageshadow:0px 1px 3px rgba(0, 0, 0, 0.46);
$stagebkg:#ffffff;
$contentpad:0 10px;
$insetshadow:inset 0px 2px 2px 0px rgba(0, 0, 0, .45);
$standardfont: "Helvetica Neue", Helvetica;
$standardfontsize: 16px;
$paragraphtext: 12px;
$standardlineheight: 45px;
$woddetailsyellow:#fffae8;
$stageintmargin:20px;

@mixin fl($width) { display: block; float: left; width: $width }
@mixin fr($width) { display: block; float: right; width: $width }


body {background:none}
#jqt > * {





  .ui-header .ui-title { margin-left: 5%; margin-right: 5%; }
  ///////////  begin toolbar / header / main nav

  .navigation-wrapper {
    background: transparent url(image_path('tile-leather-mainnav.png')) repeat-x 0 214px;
    vertical-align: bottom;
  }
  .navigation {
    position:relative;
    width:95%;
    margin:0 auto;


    ul{
      margin-bottom: 18px;
      li{
        font-size:16px;
        line-height: 36px;
        border-bottom: 1px solid #040404;
        border-top: 1px solid #323232;

        &:first-of-type {border-top:none}
        &:last-of-type {border-bottom:none}
        p{
          float:left ;
          margin-right:20px;
        }
      }
    }
  }
  .toolbar {
    @include box-sizing(border-box);
    border-bottom: 1px solid #000;
    padding: 0px 6px 6px 6px;
    background: transparent url(image_path('tile-leather-toolbar.png')) repeat-x 0 0;
    position: relative;
    background-size: 10px 44px;

    .pulldown {
      background:url(image_path('img-mainnav.png')) repeat-x;
      width:33px;
      height:40px;
      text-indent: -999px;
      float:left;
      position: relative;
      left:2%;
    }
    .tabs {
      ul {
       margin: 0 auto;
       position:relative;
       top:6px;
       border: 1px solid #222222;
       overflow: hidden;
       border:0;
       position: absolute;
       overflow: hidden;
       left: 50%;
       line-height: 1em;
       margin: 1px 0 0 -75px;
       @include box-shadow(rgba(white, 0.3) 0px 1px 1px);

       li {
          float: left;
          font-size: 9px;
          line-height: 8px;
          color: white;
          text-transform: uppercase;
          padding: 0;
          border: 1px solid #222222;
          min-width: 50px;
          text-align: center;
          padding: 10px 10px;
          height:5px;
          @include background(linear-gradient(top, rgba(0,0,0,0.2) 45%,rgba(68,68,68,0.2) 100%));

          &.inactive {
            background:rgba(161,161,161,0.05);
            //@include background(linear-gradient(top, rgba(161,161,161,0.1) 35%,rgba(161,161,161,0.0) 100%));
            color:rgba(255,255,255,0.4);
            :hover {@include background(linear-gradient(top, rgba(0,0,0,0.2) 45%,rgba(68,68,68,0.2) 100%));}
            border-left:0px;
          }

        }
       li:first-of-type {@include border-radius($radiusleft); }
       li:last-of-type {
         @include border-radius($radiusright);
       }

      } // end ul
    }   // end .tabs
  }
  //////////// end toolbar  / header

  //////////// begin universal elements

  .sprite-sf{
    display:block;
    line-height:0 !important;
    text-indent:-9999px;
    font-size:0 !important;
    background:transparent url(image_path('sprite-superfit.png')) no-repeat 0 0;
  }
  .icon {
    width:29px; height:28px;
    &.strength { background-position: -29px -70px; }
    &.custom {background-position: -29px -113px;}
    &.benchmark {background-position: -29px -152px;}
    &.mainsite {background-position: -29px -199px;}
    &.enclosed-check {background-position: -29px -302px; }
    &.enclosed-check-complete {background-position: -29px -252px; }
    &.me {background-position: -202px -68px; }
    &.home {background-position: -202px -101px; }
    &.calendar {background-position: -202px -134px; }
    &.goals {background-position: -202px -170px; }
    &.records {background-position: -202px -204px; }
    &.affiliate {background-position: -202px -239px; }
  }

  .arrow  { width:25px;  height:16px; background-position: -90px -25px;}
  .reverse-arrow  { width:25px;  height:16px; background-position: -90px -60px;}
  .small-arrow  { width:25px;  height:16px; background-position: -90px -93px;}
  .write-icon {width:48px;  height:35px; background-position: -208px -18px;}
  .photo-icon {width:48px;  height:35px; background-position: -143px -18px; }

  button   {
    &.green {
      background:#79971f;
      border-color:#688218;
      color:#3e4a21;
    }
    &.facebook {
      background:#3d69a4;
      border-color: #224a84;
      color: #2a3b54;
    }
    &.dark-grey {
      background:$mediumgrey;
      border:1px solid $darkgrey;
      color:#222222;
    }
    &.red{
      background: -webkit-linear-gradient(90deg, rgb(196, 42, 23) 6%, rgb(209, 57, 39) 30%);
      border:1px solid #ab2407;
      color:#672722;
    }
  }



  //////////// end universal elements

  .leather{
    background:#000000 url(image_path('tile-leather-bkg.png')) repeat 0 0;

    .leather-binding {
      background:transparent url(image_path('tile-leather-binding.png')) repeat-y 0 0;
      height: 960px;

      .branding-login {
        background:transparent url(image_path('bkg-branding-login.png')) no-repeat 0 0;

        .login {
          position:relative;
          top:160px;

          p {font-weight:bold; font-size:12px; margin-top:18px; text-align: center; text-transform: uppercase;}

          .login-form {width:80%; margin: auto;}
        }
        .grey-input {
          background-color:#f2f2f2;
          @include border-radius($radius);
          line-height: $standardlineheight;
          @include box-shadow($insetshadow);
          //padding: $contentpad;
        }
      }

      button {
        width:70%; margin-left:17%;

        &.get-started {margin-top:300px; margin-bottom: 36px;}
      }


    }
  } //end leather larger "grain"

  .leather-interior{
    background:#000000 url(image_path('tile-leather-interior-bkg@2x.png')) repeat 0 0;
  }

  .notepaper {
    position:relative;
    width:95%;
    margin:0 auto;

    .stacked-wrapper{
      background: $notepapercolor;
      position: relative;
      height: 100%;
      width: 100%;
      z-index: 4;
      padding-bottom: 5px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.150);
      @include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.20));
      @include border-radius ($radiusbottom);
      overflow: hidden;

      .stacked {
        background: $notepapercolor;
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 4;
        padding-bottom: 4px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.150);
        @include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.20));
        @include border-radius ($radiusbottom);
        overflow: hidden;

        .stacked-interior{
          background: $notepapercolor;
          position: relative;
          height: 100%;
          width: 100%;
          z-index: 4;
          border-bottom: 1px solid rgba(0, 0, 0, 0.150);
          @include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.20));
          @include border-radius ($radiusbottom);
          overflow: hidden;
        }
      }

      .note-title {
        width:95%;
        margin: auto;

        a {
          @include fl(15%);
          margin: auto;
          text-transform: uppercase;
          font-size:9px;
          font-weight: bold;
          line-height:72px;
        }
        h2 {@include fl(70%); margin: auto; line-height:72px;}
      }

      h2 {
        font-size: 40px;
        text-shadow: none;
        color:$darkgrey;
        text-align: center;
      }

      ul{
        margin:0 10px 0 10px;
        border:0;
        li {

          border-color:transparent;
          border-top:1px solid #bfd2e1;
          color:$lightgrey;
          margin:0;
          padding:$contentpad;
          line-height: 54px;
          font-size: $standardfontsize;

          a {color:$lightgrey}

        }
        li:first-of-type {border:0; border-top:1px solid #bfd2e1;}
      } // end ul

      .wod-activity{

        clear:both;

        .icon {
          margin-top:15px;
          margin-right:10px;
          @include fl(11%);
        }
        .label-score {
          @include fl(74%);
          p {
            float:left;
            position: relative;
          }
          p+p {
            float:right;
            text-align: right;}
        }
        .arrow  {
          float:right;
          margin-top:20px;
          margin-left:5px;
          border-bottom:0
          // if done in % would have been a total width of 10%
        }

      }

    }
  } // end notepaper
  .goal-progress{
    width:95%;
    margin:18px auto 18px auto;

    h3 {
      margin-left:20px;
      line-height: 54px;
    }
    ul{
      margin:0 10px;

      li {
        padding:$contentpad;
        height: 54px;
        line-height: 18px;

        .goal-data {@include fl(90%);}
        .goal-data p {float:left;}
        .goal-data p+p {float:right; text-align: center;}

        .reverse-arrow  {
          float:right;
          margin-top:5px;
          border-bottom:0
          // if done in % would have been a total width of 10%
        }
        span{font-size:10px; font-weight: normal;}
      }
    }
  }// end notepaper

// start cement pages
  .cement-page{
    width:96%;
    margin:18px auto 18px auto;

    .stage {
      background-color:$stagebkg;
      @include border-radius($radius);
      box-shadow:$stageshadow;

      h2 {
        background: #f7f7f7;
        color:$mediumgrey;
        line-height:54px;
        margin:4px;
        position: relative;
        top:4px;

        span {
          float:left;
          margin-right:10px;
          line-height: $standardlineheight;
          position: relative;
          top:13px;
          margin-left:10px;
        }
      }
      h4 {
        background: #f7f7f7;
        color:$mediumgrey;
        line-height:45px;
        margin:4px;
        position: relative;
        top:4px;
        padding-left:10px

      }

      .stage-content { margin:$stageintmargin;}
      .grey-input {
        background-color:#f2f2f2;
        @include border-radius($radius);
        line-height: $standardlineheight;
        @include box-shadow($insetshadow);
        //padding: $contentpad;
      }
      .blue-input {
        background-color:#eefcff;
        @include border-radius($radius);
        line-height: $standardlineheight;
        @include box-shadow($insetshadow);
        padding: $contentpad;
      }

      ul {
        margin:$contentpad;
        :first-child{margin-top:0 !important;border-top:0}

        li{
          color:$mediumgrey;
          padding:$contentpad;
          line-height: 54px;
          font-size: 16px;
          border-top:1px solid #d5d5d5;
          //height: 54px;

          .icon {
            position:relative;
            top:15px;
            margin-right:10px;
            @include fl(11%);
          }

          p {float:left}
          .label {width:74%}

          .small-arrow  {
            float:right;
            margin-top:20px;
            margin-left:5px;
            border-bottom:0
            // if done in % would have been a total width of 10%
          }
        }

      }
      &.add-wod{


        hr {
          clear:both;
          background:transparent;
          border:0;
          border-bottom:1px solid #cccccc;
          height:18px;
          margin:0;
        }
        ol {
          li{
              font-size: $paragraphtext;
              color:$mediumgrey;
              font-weight: bold;
              line-height: 36px;
              clear:both;
              list-style-position:inside;
              margin-top:9px;
              overflow: hidden;

           h5 {margin-bottom:0px}
          }
        }
        ul{
          li{

            margin-bottom: 18px;
            padding-top: 9px;

          }
        }
        .wod-details{
          background:$woddetailsyellow;
          border:1px solid #ebebeb;
          padding:10px 15px;

          p {color:$mediumgrey; font-size: 11px; line-height: 16.5px;}

          .score {
            font-size:38px;
            font-weight:bold;
            text-align: center;
            padding:10px;

            span {font-weight:12px}
          }
          h5 {text-align: center;}

        }
        .record-workout {
          background: -webkit-linear-gradient(90deg, rgb(196, 42, 23) 6%, rgb(209, 57, 39) 30%);
          border:1px solid #ab2407;
          color:#672722;
          margin-top:9px;
        }
        .create-custom-wod{

          ol {
            li{

              p {line-height: 18px; font-weight:normal }

              button {
                height:63px;
                color:$darkgrey;
                width: 45%;
                margin:18px 10px 18px 0px;
                padding:0;
              }

              .radio {
                float:left;
                width:40%;
                display:inline;
                line-height: 36px;
                overflow: hidden;

                &.last {margin-bottom: 0px;}
              }

              ul{
                margin:0;
                li {
                  height: 45px;
                  padding:0;
                  margin:0;
                  border: 0;
                  //input {width:95%}
                }
              }
            }
          }
        }// end Create Custom Wod
        .add-custom-wod-score {

          .wod-score {
            .grey-input { @include fl(63%);}
            .level { @include fl(28%); line-height: 18px; position:relative; left:20px; top:0px;}
          }
          textarea, input[type=text] {width:95%}
          input[type=checkbox] { margin:0px; padding:0; margin-right:4px; height: 18px; margin-bottom:9px}
          label{  margin-right: 10px; line-height: 18px;position:relative; top:-4px;}
        }

        .complete-step {
          margin: 0 auto 18px auto;

          button {
            width:80%;
            margin-left:7%;
            margin:18px 0 18px 10%;
          }
        } //end Add Custom WOD SCORE
        .review-details {

          button{
            width:70%;
            margin-left:15%;
            margin-top:18px;

            &.dark-grey{
              margin-top:9px;
              margin-bottom:18px;
            }
          }

        } // end review details

      }// end add wod
      &.wod-history {

        .stats {
          background:$woddetailsyellow;
          border:1px solid #ebebeb;
          padding:10px 15px;
        }
        .historical-list{
          p {
            font-size:$paragraphtext;

            &.date {float:left; width:50%;}
            &.score {float:right; }
          }
        }
      }

    } // end stage
    .search-wods{
        margin-bottom:27px;

        ul li {
          line-height:$standardlineheight;
          background: #ffffff;
          @include border-radius($radius);
          @include box-shadow($insetshadow);
          padding: $contentpad;


        }
    }


    #no-matches, ul#wods {
      display: none;
    }

    &.orientation{

      width:95%;
      margin:18px auto;



      .title {
        hr {margin:9px 0}
      }
      p{
        color:$darkgrey;
        font-size:12px;

        &.steps {
          font-size:10px;
          font-weight:normal;
        }
        &.help {font-weight: bold; font-size:10px;}

      }

      button {
        width:100%;
      }

      .toggle-wrapper {
        p{line-height: 18px; float:left; position:relative; left:5px; text-transform: uppercase; margin:18px 0}
        .toggle {top:9px;}
      }
      .shared-line {

         margin-left:2%;
         padding: 18px 0;
         overflow: hidden;
         width:98%;

         p {float:left; width:15%; text-align: center; font-weight: bold;}
         hr {float:left; width: 40%; margin-top: 9px;}


      }
      .skip {margin-top:9px}
      .create-account {
        &.step-3 {
          ul li.form { margin-bottom:4px;}

          hr {margin:18px 0}
          p {line-height: 18px;}

          .stage {margin:18px 0}
        }

      }
    }




  }//end Cement

  .form {
    line-height:$standardlineheight;
    background: #ffffff;
    @include border-radius($radius);
    @include box-shadow($insetshadow);
    overflow: hidden;
    margin-bottom:18px;
    text-shadow: 0;

    .divider {
      border-top:1px solid #cccccc;
      box-shadow:none;
      text-shadow:none;
    }
  }

  }  //end JQT
