//= require jqtouch
//= require jqtouch_overrides
//= require jquery.ui.spinner
//= require font-awesome
//= require gibson-webfont
//= require superfit-font
//= require calendar

@import 'settings';
@import 'calendar_theme';
@import 'plugins';
@import 'forms';
@import 'buttons';
@import 'compass/css3';





body {background:none}
#jqt > * {

  font-family:$standardfont;
  background:#e8e6d9;
  //background:#e8e6d9 url(image_path('tile-grunge.png'))  repeat;
  color: $mineshaft;

  h1 {font-family:$standardfont; }
  h2 {font: normal 22px $standardfont; color:$mineshaft; line-height: 54px; margin:0; position: relative; top:2px}
  h3 {font-family:$standardfont; color:$mineshaft;}
  h3.sub-header {border-bottom:1px solid #ff7f7f; margin-bottom:18px; padding-left:3px; line-height: 45px; height: 45px; margin-top:5px}
  h4 {font-family:$standardfont; }
  p {color: $dovegray; font-family:$standardfont; font-size: 16px; font-weight: normal; }
  .awesome {font-family:$iconfont ; color:$silver; font-size:18px;}
  .awesome:active {
    color:$silverchalice;
  }
  li {font-family:$standardfont; }
  h3.no-matches {
    display: none;
    color: rgba(0, 0, 0, 0.10);
    text-shadow: 0px -1px 0px $silverchalice;
    font-size:24px;
    text-align: center;
  }

  a {
    text-shadow: 0; color:$dovegray;
    background:transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    font-family:$standardfont;

    .button {display:block; }
    .active {background-image:none;}
  }
  input, textarea, select {
    -webkit-appearance: none;

  }

  .page-header{
    background:transparent url(image_path('tile-pg-header.png')) repeat-x 0 0;
    z-index: 999;
    position: relative;
    background-size: 100% 100%;
    height: 44px;

    h1 {top: 12px;font-size: 16px; bottom:11px;  font-family:$standardfontbold; font-weight: 100;  text-transform: uppercase; letter-spacing: .25px; width: 200px; margin-left: -100px;}

    .toolbar {
      @include box-sizing(border-box);
      border-bottom: 1px solid #000;
      padding: 0px 6px 6px 6px;
      background: transparent url(image_path('tile-header.png')) repeat-x 0 0;
      position: relative;
      z-index: 1000;
      background-size: 10px 44px;

      .icon-chevron-left {
        position: relative; padding:8px; top:5px; left:1px; color:#ffffff; display: block; height: 20px; width:26px;
        &:active {background: #666666; @include box-shadow (inset 0 0 30px 8px #131313);}
        }
      .icon-plus {
        float:right;
        @include border-radius (4px);
        border:0px solid $seashell;
        position:relative;
        top:9px;
        right:1px;
        padding:2px 0;
        color:$seashell;
        font-size:20px;
        height: 20px;
        width:26px;
        }
      .icon-plus:active {background: #666666; @include box-shadow (inset 0 0 20px 4px #131313)}
      //.pulldown {
      //  background:url(image_path('img-mainnav.png')) repeat-x;
      //  width:33px;
      // height:40px;
      // text-indent: -999px;
      //  float:left;
      //  position: relative;
      //  left:2%;
      //} //end pulldown
    }
  } //end page-header

  .search-block{
    background: transparent;
    position: relative;
    width: 96%;
    z-index: 4;
    padding-bottom: 0px;
    @include border-radius ($radius);
    overflow: hidden;
    margin: 9px auto;
    line-height:54px;
  }
  .content-main{

    &.goals {display: none}
    background: #ffffff;
    position: relative;
    width: 96%;
    z-index: 4;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.150);
    //@include box-shadow(0px 0px 2px rgba(0, 0, 0, 0.20));
    @include border-radius ($radius);
    overflow: hidden;
    margin: 9px auto;

    .content-block {
      margin:0px 10px 0 10px;

      p {margin-top:18px;line-height: 36px;}
      form {margin-top:6px; overflow: hidden}
      input + p.small {margin-top: 0;}

      label.custom {margin: 14px 0 9px 0; display: block}
    }

    ul{

      margin:1px 10px 0 10px;
      border:0;

      li {
        border-color:transparent;
        border-bottom:1px solid #bfd2e1;
        color:$silverchalice;
        margin:0;
        padding:$contentpad;
        line-height: 54px;
        font-size: $standardfontsize;
        font-weight: normal;

        .icon {
          margin-top:8px;
          margin-right:15px;
          float:left;
        }

        .add-new {
          .label p{color:$silverchalice;}
        }

        .label {
          @include fl(86%);
          p {float:left;position: relative;}
          p+p {float:right;text-align: right;}

        }

        .label.history {@include fl(98%);}
        .label.empty p {color:$silver;}
        .arrow  {
          float:right;
          margin-top:15px;
          margin-left:5px;
          border-bottom:0;

          &.awesome.icon-chevron-right {font-size:14px; margin-top: 19px}
        }
        &:last-of-type {border-bottom: 0;}
        &.title {
          border-bottom:1px solid #ff7f7f;

          h2 {float:left; width:60%}
          .action {
            right:9px;
            position: absolute;
            display:inline-block;
            text-align: right;
            color:$silverchalice;
            font-size:18px;
            p {float:left;}
            a {
              color:$silver;
            }
          }
          .icon {margin-right:0;}
          .icon-plus {position:relative; top:20px}

        }

      } // end li
    }


    .goal{
      .arrow {position:relative; top:5px;}
      .goal-progress {margin-top: 18px; float:left}
      .label {width:75%}
    }

    .goal-label {
      line-height: 18px;
      height:54px;
      margin-top: 18px;
      span {font-size:10px; color:$silverchalice}
    }
    .goal-progress {
      background:$easternblue;
      color:white;
      padding:0px 6px;
      @include border-radius ($radius);
      line-height: 36px;

    }

     .secondary {
       ul {
         li {
           line-height:45px;
           height:45px;
           border-bottom:1px solid $silver;

           &:last-of-type {border-bottom:0px}
         }
       }
      .title {
        background: $seashell;
        border-bottom:1px solid $silver;
        overflow: hidden;


        h3 {
          line-height: 54px;
          padding-left:18px;
          position: relative;
          top: 2px;
          float:left;
          width:50% ;
          height: 54px;
          color:$mineshaft;
        }

        .action {
          right:9px;
          position: absolute;
          display:inline-block;
          text-align: right;
          color:$silverchalice;
          font-size:18px;
          p {float:left;}
          a {
            color:$silver;
          }
          .awesome {display: block; padding:18px 10px 0 8px;}
          .goal-progress {margin-top:9px}
        }
      } // end title
       .label {
         width:99%;
         p {font-size:12px}
       }

       &.details {
         .title {
           //background: none ;
           h4 {
             position: relative;
             top: $gibsonoffset;
             color:$mineshaft;
             font-size:16px;
           }
         }
         ul {
           li{
             p{font-size:14px;}
           }
         }

       }
    } // end secondary

  }// end content-main

  .footer {width: 96%;margin: 9px auto;}

  //////////// PAGE LEVEL ////////////

  // LANDING SPLASH

 .landing {
   background: #000000 url(image_path('bkg-landing.png')) no-repeat 0 0;
   overflow: hidden;

   .splash {
     text-align: center;
     background: transparent url(image_path('bkg-landing-white.png')) no-repeat center center;
     padding:50% 0;
     overflow: hidden;
   }
 }

 .gyms {
  .gym.selected {
    background: $mountmain-meadow;
    p { color:#ffffff; }
  }
 }

  // PULL DOWN NAVIGATION

  #navigation {
    position: absolute;
    top: -170px;
    overflow: hidden;
    z-index: 998;
    width: 100%;
    @include transition(all 0.5s ease);
    background:transparent url(image_path('tile-ticks.png')) repeat 0 0;
    opacity: .95;
    padding-bottom: 4px;
  }
  #navigation.active {
    @include translate3d(0, 205px, 0);
  }

  .navigation {
    position: relative;
    width: 100%;
    margin: 12px auto 0 auto;



    div{

      font-size:16px;
      border-bottom: 1px solid #040404;
      border-top: 1px solid #323232;
      padding-left:12px;
      &:first-of-type {border-top:none; padding-top:5px; }
      &:last-of-type {border-bottom:none}
      &:active {background: #000000;}
      p{
        float:left ;
        margin-right:20px;
      }
      a{
        color:white;
        font-size:14px;

        text-transform: uppercase;
        font-family: $standardfontbold;
        line-height: 45px;
        height:45px;
        display: block;
        padding-left:2px;
      }
      a:active {
        opacity:0.75;
        background: transparent;
      }
      a.dissolve:active { background: transparent}

    }
    div:active {background-color:$mineshaft}
  }


  // DASHBOARD
  .content-main.home {
    margin: 0px auto 9px auto;
    position: relative;
    //top: -5px;
  }

  .date-navigation{
    text-align: center;
    overflow: hidden;
    //border-bottom: 2px groove #eae7e1;
    padding-bottom: 12px;
    margin-top:9px;

    ul:first-child {margin-top:0}

    li {
      font-size:13px;
      font-weight: normal;
      color:$mineshaft;
      float:left;
      width:10%;

      &.date {
        width:80%;
        cursor: pointer;
        font-size:16px;
        position: relative;
        //top: -5px;
        img {position:relative; top:5px}
      }
      &.prev-day, &.next-day {position:relative; top:5px}
    }
  }

  // ADD WODS
  .wods-search { display: none; }

  /// CREATE WOD
  .photo-capture {
    overflow: hidden;
    p {float:left; font-size:12px; color:$silverchalice; margin-top:6px !important;}
    a.button {float:right;width:50%; text-align:left;padding:6px}
    span {font-size:14px; margin:0 4px;}
  }

  .score-details {margin-top:0 !important; line-height: 18px  !important}
 // ENTER WOD SCORE

  .sets .set {overflow:hidden; margin-bottom:9px; padding-bottom: 18px}
  .enter-score-label {

    p {float:left;width:42px; margin-top: 9px!important; }
    .icon-remove-sign {
      float:left;
      position:relative;
      top:17px;
      color:$tallpoppy
      }
    .warm-up {
      float:right;
      background: $seashell;
      color:$silver;
      @include border-radius($radius);
      padding:0px;
      font-size:10px ;
      position:relative;
      top:15px;
      width:60px;
      text-align: center;
      height: 20px;
      line-height: 18px;
      &.selected{background: $mountmain-meadow;color:#ffffff;}
      text-transform:capitalize;

        &:before {
          content: "Warm-Up";
        }
      }

    overflow: hidden;
  }
  .enter-score{
    margin-bottom: 9px;
    //overflow: hidden;

    div.input {  width:55%; float:left; margin-top:0px}
    div.times {float:left;width:9%; position: relative; top:22px; text-align: left}
    div.reps {width:35%; float:left;}
    .small {position:relative; top:5px;}

    //.type { margin-right: 7%; }
    .score-container {
      margin-bottom: 3px;

      .for_time {
        .ui-spinner:first-of-type {margin-right:5%;}
        .ui-spinner {width:46.5%;}
      }
    }

  }



  // REVIEW SCORE
  .review-score {
    text-align: center;
    font-size: 40px;
    color:$mineshaft;
    font-weight: bold;
    margin-bottom: 18px;


    .score-level {
      font-size:12px;
      padding:5px 4px 4px 5px;
      color:$dovegray;
      @include border-radius ($radius);
      text-align: center;
      text-transform: uppercase;
      position: relative;
      top:-6px;
    }
    .pr {
      font-size:12px;
      background-color:$mountmain-meadow;
      padding:5px 4px 4px 5px;
      color:white;
      @include border-radius ($radius);
      text-align: center;
      position: relative;
      left:-6px;
      top:-6px;
      text-transform: uppercase;
      width: 120px;
      margin:auto;
    }

  }

  // RECORDS / INTERIOR

  .filter-navigation{
    text-align: center;
    overflow: hidden;
    //border-bottom: 2px groove #eae7e1;
    padding-bottom: 7px;
    margin:0 auto;
    margin-top:12px !important;
    color:$mineshaft;
    margin-left:5px;
    &.not-main {margin-top:18px !important}
    li {
      font-size:13px;
      font-weight: normal;
      color:$mineshaft;
      float:left;
      width:33%;
      text-align: center;

      a {
        color:$mineshaft; padding:4px 0px;

        &:active, &.active {background: transparent;color:$mineshaft;}
      }
      a.selected {background: #dedcd0; @include border-radius (18px)}
    }

    &.two {
      li {width:50%;}
    }
  }
  #get-started-step1 {height:100%}
  //ORIENTATION
  .orientation {
      padding:0px;
      background:white;
      min-height:100%;
      position:relative;
      h1 {font-size:22px; text-align: center; text-transform: uppercase }
      h2 {font-size:16px; font-weight: bold; line-height: 27px; margin-top:18px}
      img {text-align: center; margin-top:9px; margin-bottom: 9px}
      p {font-size:14px; text-align: center; line-height: 18px;margin-top:9px}
      .step1 {
        background: transparent url(image_path('intro-step1.png')) no-repeat center center;
        width:298px;
        height:298px;
        background-size: 298px 298px;
      }
    .step2 {
      background: transparent url(image_path('intro-step2.png')) no-repeat center center;
      width:287px;
      height:253px;
      background-size: 287px 253px;
    }

      .main{padding:18px 20px 80px 20px;}
      .button {background:$mineshaft; color:white; }
      .small {
        font-size:10px;
        line-height: 14px;
        margin-top:27px;
        margin-bottom:18px;
        font-weight:normal;
        text-align:center;
        width:80%;

      }


      ul {margin:18px 0 18px 0}
      .arrow {margin-top:9px; margin-bottom:9px}
      .orientation-footer {
        background: $seashell;
        overflow: hidden;
        position:absolute;
        bottom:0;
        width:100%;
        height:80px;

        a {margin-top:18px; margin-bottom:18px;width:80%}
      }


  }
  //GOALS
  .new-goal{
    background: $seashell;
    border:1px solid $mercury;
    overflow: hidden;
    margin: 18px 0;
    padding:0px 10px 18px 10px;
    select {background: #ffffff; }
    @include border-radius ($radius);
    .goal-length {
      input{width:30% !important; float:left; margin-right:10%}
      select{width:50% !important; float:left}
    }



  }
  // UNIVERSAL ELEMENTS

  button, .button {
    //width:97%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    &.bottom {margin-bottom:9px}

    &.red {background: $tallpoppy; }

  }


  .yellow-block{
    background-color:$yellow;
    @include border-radius($radius);
    font-size:12px;
    border:1px solid #f7eecb;
    margin-top:9px;
    margin-bottom: 5px;
    padding:20px;
    color:$silverchalice;

    p {font-size:14px}
    span {font-size:12px; display: block}
    hr {border:0px; border-bottom:1px dashed; margin:0;margin:18px 0 9px 0}

    .score-notes {margin-top:0px !important; line-height: 18px !important;}
  }

  .icon-button {
    background-color:$seashell;
    border:1px solid #e2e2e2;
    @include border-radius($radius);
    padding:4px;
    color:$silverchalice
  }

  label.radio {margin-right:20px; position: relative; top:-3px}

  // Sprite Setup
  // ------------------------------------------------------------

  .sprite-sf{
    display:block;
    line-height:0 !important;
    text-indent:-9999px;
    font-size:0 !important;
    background:transparent url(image_path('sprite-superfit.png')) no-repeat 0 0;
    background-size: 320px 480px;
    height: 480px;
    width: 320px;

  }

  //.sprite-sf:active {opacity:0.5;}
  .icon {
    width:35px; height:34px;
    &.strength { background-position: -25px -68px; }
    &.custom {background-position: -25px -110px;}
    &.other {background-position: -25px -24px;}
    &.benchmark {background-position: -25px -150px;}
    &.mainsite {background-position: -25px -195px;}

    &.dashboard {background-position: -27px -239px; height:32px }
    &.goals {background-position: -27px -279px; height:32px  }
    &.records {background-position: -27px -317px;  height:32px }
    &.me {background-position: -27px -352px;  height:33px }

  }


  .toolbar .pulldown{
    width:46px;
    height:50px;
    background-position: -214px -25px;
    float:left;
    position: relative;
    top:-1px;
    &:active {background-position: -214px -25px;}
    &.open {background-position: -214px -96px;}
  }

  .small {color:$silverchalice;font-size: 11px; }


  .chart-container {
    width: 100%;
    height: 200px !important;

    .chart {
      width: 100%;
      height: 100%;
      font-size: 14px;
      line-height: 1.2em;
    }
  }

  // OVERLAY

  .overlay {
    background: rgba(0, 0, 0, 0.5);

    .main {background: white; width:80%; padding: 27px 10px}
  }

  //PROFILE

  .profile-header{
      text-align: left;
      overflow: hidden;
      border-bottom: 2px groove #eae7e1;
      padding-bottom: 12px;

      a {color:$easternblue}

      .name{
        padding-top: 10px;
        margin-left:3%;

        p {line-height: 18px}
      }

      .profile-image {
        @include border-radius ($radius);
        background:#ffffff;
        width:60px;
        height:60px;
        float:left;
        margin-right:20px;
        margin-left:2%;
      }
  }
  .profile {
    p {float:left; width: 40%}
    p+p {float:left; width:60%; text-align: right;}

    .disable {opacity:0.35;}
    a {color:$easternblue}

  }
  .edit-profile {
    li{
      clear:both;
      overflow: hidden;
      margin-top:18px;
      //background-color: $seashell;

      p {float:left; width:30%; font-size:14px;
        font-family:$standardfont; color:$mineshaft}
      .profile-data {float:left; width:60%}
      input[type=text], input[type=number], input[type=date]{
        border: 0px solid #e7e7e7;
        height: 50px;
        font-family:$standardfont;
        padding-left:0;
      }
      input[type=date]{ padding-left: 5%;width:95%; @include border-radius(0); padding-top:1px; font-size:14px;}
      &.radio {
        p { margin:0 }
        fieldset {position:relative; top:7px; margin:0}
        label {font-size:14px; color:$mineshaft}
      }
      .placeholder {color:$dovegray}
      .action {
        right:0px;
        position: absolute;
        display:inline-block;
        text-align: right;
        color:$silverchalice;
        font-size:18px;
          input.date::-webkit-calendar-picker-indicator {
            display: none;
            -webkit-appearance: none;
            -webkit-appearance: none;
          }
        a {
          color:$silver;
        }
      }

    }
    .divider {border-top: 1px solid #bfd2e1; border-bottom: 0px solid #bfd2e1; padding:9px 0}
  }
  .customwod-tabs {
    margin-bottom: 9px;
    ul.tab-nav {
      width:100%;
      overflow:hidden;
      margin-left:0;
      li {float:left; width: 50%; border:none; text-align: center; padding:0; margin:0}

      .text-entry  {@include border-radius(0px 2px 2px 0px); margin-bottom:0; border:1px solid mercury}
      .photo-capture {@include border-radius(2px 0px 0px 2px); margin-bottom:0;  border:1px solid mercury}
    }
    #text-entry {
      background: $seashell;
      height: 90px;
      padding:9px;

      textarea {width:97%; height: 63px;}
    }

    &.photo {
      .text-entry  {background: white; color:$silverchalice;border:1px solid $mercury;border-bottom:0px; border-left:0px}
      .photo-capture {
        background: $seashell;
        color:$dovegray;
        border:1px solid $mercury;
        border-bottom:0;
      }
      #text-entry {display:none}
    }

    &.text {
      .text-entry  {
        background: $seashell;
        color:$dovegray;
        border:1px solid $mercury;
        border-bottom:0;
      }
      .photo-capture {background: white; color:$silverchalice;border:1px solid $mercury;border-bottom:0px;border-right:0}
      #photo-capture {display:none}
    }
    #photo-capture {

      &.initial {
        .post-capture {display:none}
      }
      &.post {
        .initial-capture {display:none}
      }
    }
    .icon-camera-alt {font-size: 54px; opacity: .75}
    .take-photo {
       line-height: 27px;
       font-size:14px;
       background: $seashell;
       width: 100%;
       display: block;
       height: 90px;
       text-align: center;
       padding-top:18px;
       @include border-radius($radiusbottom);
       border:1px solid $mercury;
       border-top:0;

      .custom-wod-img {width:280px}
     }
  }

  /***** Here goes the retina display good stuff ***/
  @media(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
    .sprite-sf { background:transparent url(image_path('sprite-superfit_2x.png')) no-repeat 0 0; }
    .page-header{ background:transparent url(image_path('tile-pg-header_2x.png')) repeat-x 0 0 }
    .step1 {background: transparent url(image_path('intro-step1_2x.png')) no-repeat center center; }
    .step2 {background: transparent url(image_path('intro-step2_2x.png')) no-repeat center center; }
  }



}  //end JQT

// Calendar Overrides


