
@import 'compass/css3';

$radius: 3px;
$radiusleft: 0px 2px 2px 2px;
$radiusright: 0px 2px 2px 0px;
$radiusbottom: 0px 0px 2px 2px;
$darkgrey:#474747;
$mediumgrey:#646464;
$lightgrey:#858585;
$notepapercolor:#fcfadd;
$stageshadow:0px 1px 3px rgba(0, 0, 0, 0.46);
$stagebkg:#ffffff;
$contentpad:0 10px;
$insetshadow:inset 0px 1px 1px 0px rgba(0, 0, 0, .45);
$standardfont: "Helvetica Neue", Helvetica;
$standardfontsize: 16px;


#jqt > * {

  font-family: $standardfont;
  background:#cecece url(image_path('tile-grunge.png'))  repeat;
  color: #ddd;

  h3 {font-size:18px; color:$darkgrey}
  h4 {font-size:14px; color:$darkgrey}
  h5 {
    font-size:13px;
    color:$darkgrey;
    line-height: 18px;
    margin: 9px 0;

    span {font-weight:normal;color:$mediumgrey;}
  }


  a {
    text-shadow: 0; color:$mediumgrey;
    background:transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
  }

  ul{
    li {
      color:$mediumgrey;
      font-size: 14px;
    }
  }

  button {
    text-transform:uppercase;
    color:$darkgrey;
    font-family: $standardfont;
    font-size:11px;
    text-align: center;
    font-weight:bold;
    @include border-radius($radius);
    //background: -webkit-linear-gradient(90deg, rgb(233, 233, 233) 6%, rgb(244, 244, 244) 30%);
    background: #f4f4f4;
    border:1px solid #cccccc;
    box-shadow:  0px 1px 0px rgba(0, 0, 0, 0.35);
    padding:12px 20px;
    margin:9px 0 9px 0;
    text-shadow: rgba(0,0,0,0.05) 0px 0, rgba(0,0,0,0.05) 0 -1px, rgba(255,255,255,0.1) 0 1px, rgba(0,0,0,0.05) 0px -1px;
    span {margin:5px auto }


  }
  button:active {
    background: #e5e5e5;
    @include box-shadow($insetshadow);
    text-shadow: rgba(0,0,0,0.05) 0px 0, rgba(0,0,0,0.05) 0 -1px, rgba(255,255,255,0.1) 0 1px, rgba(0,0,0,0.05) 0px -1px;

  }

  form {
    input[type=text], input[type=number], input[type=password]{
      font-weight: bold;
      padding-left:0px;
      line-height: 45px;
      height:45px;
      font-size: 12px;
    }
    input[type=radio] {
      background: #e5e5e5;
      @include box-shadow($insetshadow);
      border:0;
      width: 18px;
      height: 18px;
      margin-right:5px;
    }
    textarea {
      background: transparent;
      border:0;
      -webkit-appearance:none;
      font-size:12px;
      padding:10px 5px;
      font-family:$standardfont ;
    }

  }
}
