
@import 'compass/css3';

$radius: 3px;
$radiusleft: 0px 2px 2px 2px;
$radiusright: 0px 2px 2px 0px;
$radiusbottom: 0px 0px 2px 2px;
$darkgrey:#474747;
$mediumgrey:#646464;
$lightgrey:#858585;
$notepapercolor:#fcfadd;
$stageshadow:0px 1px 3px rgba(0, 0, 0, 0.46);
$stagebkg:#ffffff;
$contentpad:0 10px;
$insetshadow:inset 0px 1px 1px 0px rgba(0, 0, 0, .45);
$activebutton:inset 0px 1px 12px 0px rgba(0, 0, 0, .65);
$standardfont: "Helvetica Neue", Helvetica;
$standardfontsize: 16px;
$fontcolor:#464646;


#jqt > * {



  button, .button {
    text-transform:uppercase;
    color:$darkgrey;
    font-family: $standardfont;
    font-size:11px;
    text-align: center;
    font-weight:bold;
    @include border-radius($radius);
    //background: -webkit-linear-gradient(90deg, rgb(233, 233, 233) 6%, rgb(244, 244, 244) 30%);
    background: #f4f4f4;
    border:0px solid #cccccc;
    padding:12px 0px;
    margin:9px 0 9px 0;
    text-shadow: rgba(0,0,0,0.05) 0px 0, rgba(0,0,0,0.05) 0 -1px, rgba(255,255,255,0.1) 0 1px, rgba(0,0,0,0.05) 0px -1px;
    line-height: 18px;
    height:18px;

  }
  button:active, .button:active {
    background: #e5e5e5;
    color:$darkgrey;
    @include box-shadow($insetshadow);
    text-shadow: rgba(0,0,0,0.05) 0px 0, rgba(0,0,0,0.05) 0 -1px, rgba(255,255,255,0.1) 0 1px, rgba(0,0,0,0.05) 0px -1px;
    border:1px solid #cccccc;
  }

  button + button, .button + .button {margin-top: 0 !important;}

  fieldset {border:0; margin: 0}
  form {
    input[type=text], input[type=search], input[type=number], input[type=time],input[type=password] {
      background: #f7f7f7;
      @include box-shadow($insetshadow);
      @include border-radius($radius);
      line-height: 54px;
      height:54px;
      padding:0 0 0 10px;
      width:98%;
      -webkit-appearance:none;
    }

    input[type=radio] {
      background: #f7f7f7;
      border:0;
      width: 18px;
      height: 18px;
      margin-right:5px;
      @include box-shadow($insetshadow);
      @include border-radius(24px);
    }
    input[type=radio]:checked {
      background:#000000;
      -webkit-background-size: 10px 10px; /* shrink high resolution background */
    }
    input[type=radio]+span {position:relative; top:-4px; margin-right:10px}
    input[type=number] {width:90%}
    textarea {
      background:#f7f7f7;
      border:0;
      -webkit-appearance:none;
      @include box-shadow($insetshadow);
      font-size:14px;
      padding:10px 5px;
      font-family:$standardfont ;
      @include border-radius($radius);
      width:97%;
    }
    select{
      border:1px solid #cccccc;
      box-shadow:  0px 1px 0px rgba(0, 0, 0, 0.35);
      @include border-radius($radius);
      line-height: 54px;
      height:54px;
      padding:0 0 0 10px;
      width:98%;
      border:0;
      font-size:14px;
      overflow: visible;
      color:$fontcolor;
      background: #f4f4f4 url(image_path('gfx-down-arrow.png')) no-repeat 0 0;
      background-position: right;
      position:relative;
      top:-1px;

    }
    input[type=search]{
      @include box-shadow($insetshadow);
      background: #f7f7f7;
      -webkit-appearance:none;
    }


  }
}
