//= require jqtouch
//= require jqtouch_overrides
//= require superfit_common
//= require calendar
//= require calendar_theme
//= require font-awesome
@import 'compass/css3';

$radius: 3px;
$radiusleft: 0px 2px 2px 2px;
$radiusright: 0px 2px 2px 0px;
$radiusbottom: 0px 0px 2px 2px;
$radiustop: 2px 2px 2px 2px;
$radius-circle:100px;

$notepapercolor:#ffffff; //#fcfadd;
$stageshadow:0px 1px 2px rgba(0, 0, 0, 0.35);
$standardboxshadow: 0px 0px 2px rgba(0, 0, 0, 0.20);
$stagebkg:#ffffff;
$contentpad:0 8px;
$insetshadow:inset 0px 1px 2px 0px rgba(0, 0, 0, .45);
$standardfont: "Helvetica Neue", Helvetica;
$standardfontsize: 16px;
$paragraphtext: 12px;
$standardlineheight: 45px;
$stageintmargin:20px;

// colors
$easternblue:#00afd5;
$yellow:#fffae8;
$red:#d91c00;
$seashell:#f1f1f1;
$silver:#cccccc;
$silverchalice:#999999;
$dovegray:#666666;
$mineshaft:#333333;
$codgray:#111111;

@mixin fl($width) { display: block; float: left; width: $width }
@mixin fr($width) { display: block; float: right; width: $width }


body {background:none}
#jqt > * {

  font-family:"Helvetica Neue", Helvetica;
  background:$silver url(image_path('tile-grunge.png'))  repeat;
  color: $dovegray;

  h1 {}
  h2 {font: normal 18px "Helvetica Neue", Helvetica; color:$mineshaft; line-height: 54px; margin:0; position: relative; top:2px}
  h3 {}
  h4 {}
  p {color: $dovegray; font-family:"Helvetica Neue", Helvetica; font-size: 16px; font-weight: normal; }
  .awesome {font-family:"FontAwesome"; color:$silver; font-size:18px;}
  .awesome:active {
    color:$silverchalice;
  }

  h3.no-matches {
    display: none;
    color: rgba(0, 0, 0, 0.10);
    text-shadow: 0px -1px 0px $silverchalice;
    font-size:24px;
    text-align: center;
  }

  a {
    text-shadow: 0; color:$dovegray;
    background:transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);

    .button {display:block; width:100%}
    .active {background-image:none;}
  }
  input, textarea, select {
    -webkit-appearance: none;

  }

  .page-header{
    background:#000000 url(image_path('tile-leather-interior-bkg@2x.png')) repeat 0 0;
    background:#000000 url(image_path('tile-pg-header.png')) repeat 0 0;

    h1 {font-size: 16px; bottom:12px;  font-weight: medium; text-transform: uppercase; letter-spacing: .25px; width: 200px; margin-left: -100px;}

    .toolbar {
      @include box-sizing(border-box);
      border-bottom: 1px solid #000;
      padding: 0px 6px 6px 6px;
      background: transparent url(image_path('tile-header.png')) repeat-x 0 0;
      position: relative;
      background-size: 10px 44px;

      .goback {position: relative; top:12px; left:9px; color:#ffffff}
      .pulldown {
        background:url(image_path('img-mainnav.png')) repeat-x;
        width:33px;
        height:40px;
        text-indent: -999px;
        float:left;
        position: relative;
        left:2%;
      } //end pulldown
    }
  } //end page-header

  .search-block{
    background: transparent;
    position: relative;
    width: 96%;
    z-index: 4;
    padding-bottom: 0px;
    @include border-radius ($radius);
    overflow: hidden;
    margin: 9px auto;
    line-height:54px;
  }
  .content-main{

    background: $notepapercolor;
    position: relative;
    width: 96%;
    z-index: 4;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.150);
    @include box-shadow(0px 0px 2px rgba(0, 0, 0, 0.20));
    @include border-radius ($radius);
    overflow: hidden;
    margin: 9px auto;

    .content-block {
      margin:0px 10px 0 10px;

      p {margin-top:18px;line-height: 36px;}
      form {margin-top:6px; overflow: hidden}
      input + p.small {margin-top: 0;}
    }

    ul{

      margin:1px 10px 0 10px;
      border:0;

      li {
        border-color:transparent;
        border-bottom:1px solid #bfd2e1;
        color:$silverchalice;
        margin:0;
        padding:$contentpad;
        line-height: 54px;
        font-size: $standardfontsize;
        font-weight: normal;

        .icon {
          margin-top:15px;
          margin-right:10px;
          float:left;
        }

        .add-new {
          .label p{color:$silverchalice;}
        }

        .label {
          @include fl(86%);
          p {float:left;position: relative;}
          p+p {float:right;text-align: right;}

        }

        .label.history {@include fl(98%);}
        .label.empty p {color:$silver;}
        .arrow  {float:right;margin-top:20px; margin-left:5px;border-bottom:0}
        &:last-of-type {border-bottom: 0;}
        &.title {
          border-bottom:1px solid #ff7f7f;

          h2 {float:left; width:50%}
          .action {
            right:9px;
            position: absolute;
            display:inline-block;
            text-align: right;
            color:$silverchalice;
            font-size:18px;
            p {float:left;}
            a {
              color:$silver;
            }
          }
          .icon {margin-right:0;}
          .icon-plus {position:relative; top:20px}

        }

        &.goal{

          .goal-label {
            line-height: 18px;
            height:54px;
            margin-top: 18px;
            span {font-size:10px; color:$silverchalice}
          }
          .goal-progress {
            background:$easternblue;
            color:white;
            padding:0px 6px;
            @include border-radius ($radius);
            line-height: 36px;
            margin-top: 18px;
          }
          .arrow {position:relative; top:5px;}
        }

      } // end li
    }
  }// end content-main


  //////////// PAGE LEVEL ////////////

  // PULL DOWN NAVIGATION

  #navigation {
    position: relative;
    height: 0;
    overflow: hidden;
    background-color:#1f1f1f;
    @include transition(height 1s ease);
  }
  #navigation.active { display: block; height: 180px; }

  .navigation {
    position: relative;
    width: 95%;
    margin: 12px auto 0 auto;

    div{

      font-size:16px;
      line-height: 36px;
      border-bottom: 1px solid #040404;
      border-top: 1px solid #323232;

      &:first-of-type {border-top:none; }
      &:last-of-type {border-bottom:none}
      p{
        float:left ;
        margin-right:20px;
      }
      a{
        color:white;
        font-size:14px;
        -webkit-tap-highlight-color:#1f1f1f;}
      a:active {
        opacity:0.75;
      }

    }
    div:active {background-color:$mineshaft}
  }


  // DASHBOARD
  .content-main.home {
    margin: 0px auto 9px auto;
    position: relative;
    top: -5px;
  }

  .date-navigation{
    text-align: center;
    overflow: hidden;
    border-bottom: 2px groove #eae7e1;
    padding-bottom: 12px;

    li {
      font-size:13px;
      font-weight: normal;
      color:$mineshaft;
      float:left;
      width:10%;

      &.date {width:80%; cursor: pointer;font-size:16px; position: relative; top: -3px;}
    }
  }

  // ADD WODS
  .wods-search { display: none; }

  /// CREATE WOD
  .photo-capture {

    overflow: hidden;
    p {float:left; font-size:12px; color:$silverchalice; margin-top:6px !important;}
    a.button {float:right;width:50%; text-align:left;padding:6px}
    span {font-size:14px; margin:0 4px;}
  }
 // ENTER WOD SCORE
  .enter-score-label {
    width:95%;
    p {float:left;width:50px }
    .delete {float:left; position:relative;top:21px}
    overflow: hidden;
  }
  .enter-score{
    margin-bottom: 18px;
    overflow: hidden;
    .delete {overflow: hidden;}

    div {
      width:36%; float:left;
      p.input {width:95%; float:left; margin-top:0px}
      .small {clear:both; display: block;}
      p.times {float:left;width:5%; position: relative; top:-10px;}
    }

    div.score {
      width:55%;  margin-bottom: 3px;margin-left:7%;

      .time-score {
        input {width:36%; margin-right:5%; float:left}
      }
      .passfail-score {width:90%;}
    }

  }



  // REVIEW SCORE
  .review-score {
    text-align: center;
    font-size: 40px;
    color:$mineshaft;
    font-weight: bold;
    margin-bottom: 18px;

    .score-level {font-size:14px}

  }

  // RECORDS / INTERIOR

  .filter-navigation{
    text-align: center;
    overflow: hidden;
    border-bottom: 2px groove #eae7e1;
    padding-bottom: 12px;
    margin:0 auto;

    li {
      font-size:13px;
      font-weight: normal;
      color:$mineshaft;
      float:left;
      width:33%;
      text-align: center;

      a {color:$silverchalice}
      a.selected {color:$mineshaft}
    }
  }
  //ORIENTATION
  .orientation {
    &.content-main {
      width: 92%;
      padding:0px;
      @include box-shadow(0px 3px 6px rgba(0, 0, 0, 0.75));

      h1 {font-size:25px; text-align: center; }
      h2 {font-size:16px; font-weight: bold; line-height: 27px; margin-top:18px}
      img {text-align: center; margin-top:9px; margin-bottom: 9px}
      p {font-size:14px; text-align: center; line-height: 18px;margin-top:9px}


      .content-block{padding:27px 10px 0px 10px;}
      .button {background:$mineshaft; color:white}
      .small {
        font-size:10px;
        line-height: 14px;
        margin-top:0;
        margin-bottom:18px;
        font-weight:normal;
        text-align:left;

      }


      ul {margin:18px 0 18px 0}
      .arrow {margin-top:9px; margin-bottom:9px}
      .orientation-footer {
        margin-top:18px;
        background: $seashell;
        overflow: hidden;
        a {margin-top:18px; margin-bottom:18px;width:90%}
      }

    }

  }

  // UNIVERSAL ELEMENTS

  button, .button {
    width:99%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    &.bottom {margin-top:18px}

  }
  .sprite-sf{
    display:block;
    line-height:0 !important;
    text-indent:-9999px;
    font-size:0 !important;
    background:transparent url(image_path('sprite-superfit.png')) no-repeat 0 0;
  }

  .yellow-block{
    background-color:$yellow;
    @include border-radius($radius);
    font-size:12px;
    border:1px solid #f7eecb;
    margin-top:18px;
    padding:20px;
    color:$silverchalice;
  }

  .icon-button {
    background-color:$seashell;
    border:1px solid #e2e2e2;
    @include border-radius($radius);
    padding:4px;
    color:$silverchalice
  }

  label.radio {margin-right:20px; position: relative; top:-3px}

  //.sprite-sf:active {opacity:0.5;}
  .icon {
    width:29px; height:28px;
    &.strength { background-position: -29px -70px; }
    &.custom {background-position: -29px -112px;}
    &.other {background-position: -29px -26px;}
    &.benchmark {background-position: -29px -152px;}
    &.mainsite {background-position: -29px -198px;}
    &.me {background-position: -202px -68px; }
    &.home {background-position: -202px -101px; }
    &.calendar {background-position: -202px -134px; }
    &.goals {background-position: -202px -170px; }
    &.records {background-position: -202px -204px; }
    &.affiliate {background-position: -202px -239px; }
    &.repsx {background-position: -242px -25px; }
  }

  //.arrow  { width:25px;  height:16px; background-position: -90px -25px;}
  //.reverse-arrow  { width:25px;  height:16px; background-position: -90px -60px;}
  //.small-arrow  { width:25px;  height:16px; background-position: -90px -93px;}
  //.write-icon {width:48px;  height:35px; background-position: -208px -18px;}
  .photo-icon {width:34px;  height:21px; background-position: -148px -91px; float:left; margin:0 6px }
  //.inactive {color:$silver}
  .delete {width:25px;  height:25px; background-position: -154px -57px;}
  .delete:active {width:25px;  height:25px; background-position: -197px -57px;}
  //previous page
  //.previous {width:24px;  height:22px; background-position: -94px -200px; }
  //.previous:active {width:24px;  height:22px; background-position: -94px -200px;}


  .small {color:$silverchalice;font-size: 11px; }


 /// DUMMY CHART REMOVE BEFORE LAUNCH
  .chart {
    background: transparent url(image_path('sample-chart.png')) no-repeat ;
    height:198px;
    width:280px;
    margin:10px auto;
  }
}  //end JQT

// Calendar Overrides

#calendar{
  .custom-header {
    border:0px;
    background-color:$seashell;
    height:50px;
    text-align: center;
    padding: 5px 20px 10px 20px;
    .custom-month {display: inline-block; margin-right:5px; color:$mineshaft; font-size: 16px; text-transform: capitalize;}
    .custom-year {display: inline-block; font-size: 16px; font-weight: normal; line-height: 54px; color:$mineshaft}
    nav span:before {color:$red}

  }
  .fc-calendar-container {background:#ffffff ; padding:10px 8px 50px 10px}
  .fc-calendar .fc-head {color:$red; font-weight: normal; font-size:10px;}
  .fc-calendar .fc-body {border:0px}
  .fc-calendar .fc-row  {border:0px}
  .fc-calendar .fc-row > div {height: 80%;width: calc(100%/7); padding:0;border-right: 0;}
  .fc-calendar .fc-row > div > span.fc-date   {color:$dovegray; font-weight: bold; font-size:11px;}
  .fc-calendar .fc-row > div.fc-today {
    background: $red;
    @include border-radius($radius-circle);
    @include box-shadow($insetshadow);
  }
  .fc-calendar .fc-row > div.hasworkouts{
    background: #f1f1f1;
    @include border-radius($radius-circle);
}
  .fc-calendar .fc-row > div.fc-today > span.fc-date {
    color:#ffffff
  }

}

