!!!
%html
  %head
    %title Superfit
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = csrf_meta_tag
    = stylesheet_link_tag "superfit"
    = javascript_include_tag "superfit"
  %body
